body,
html {
  width: 100%;
  height: 100%; 
}

body{
	font-family: 'Catamaran', sans-serif;
}

hr{
	max-width: 65px;
	border-width: 3px;
	border-color: #F88C00;
}

header.startup{
	background-position: center;
	background-image: url("header.jpeg");
	background-size: cover;
	/*background-color: black;*/
	height: 100%
	
}

header.startup hr{
	margin-top: 30%;
	margin-bottom: 30px;
}

header.startup h1 {
  font-size: 2rem; 
}
.btn{
	text-transform: uppercase;
	border-radius: 100px;
	font-weight: 600;
	font-family: 'Catamaran', sans-serif;
}

.btn-x1{
	padding: 1rem 2rem;
}

.btn-primary{
	background-color:  #F88C00;
	border-color: #F88C00;
}
.faded{
	color: rgba(255,255,255,.8);
}

.btn-primary:hover{
	background-color:  #F87300;
	border-color: #F87300;
	border-width: 5px;
    cursor: pointer;
}

